**__pycache__**
.venv
CLAUDE.md
bash.exe.stackdump
.claude/*
!.claude/skills
.claude/skills/*
!.claude/skills/egx-cli
logs
.specify/*
!.specify/memory
.specify/memory/*
!.specify/memory/constitution.md